@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Kumbh+Sans:wght@200&family=Lato&family=Merriweather&family=Nanum+Gothic&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
  }

body { 
    
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
    
}

.cabecalho {
    background-color: #d7d4ff;
   display: flex;
   align-items: center;
   justify-content: space-between;
   min-height: 500px;
     
}
.image-header {
    margin-right: 100px;
}

.image-header img {
    height: 350px;
    padding: 30px;
    
    
}

.cabecalho .texto {
    font-family: 'Merriweather', sans-serif;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2B2B2B;
    flex: 0 1 400px;
    margin-left: 100px;
}

.cabecalho p {
    font-family: 'Lato';
    color:#555555;
    line-height: 27px;
    width: 359px;
    
}

.cabecalho .botao {
    width: 155px;
    height: 50px;
    border-radius: 5px;
    background-color:#6C63FF;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 45px;
    border:none;
    transition: all 0.3s;
    
     
}
.cabecalho .botao:hover{
    
    background-color: rgba(145, 109, 230, 0.486);
    
} 
/* estilo do main */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px ;
    
}

.cards {
    display: flex;
   background-color: tomato;
    width: 340px;
    height: 423px;
    margin: 50px;
} 

.conteudo {
    padding: 31px;
    margin-top: auto;
     
}



.conteudo h4 {
    font-family: "Merriweather" ;
    font-weight: 700;
    font-size: 24px;
    color: #2B2B2B;
    
}

.conteudo p {
    font-family: "lato";
    color: #555555;
    font-weight: 400;
    font-size: 18px;

}







/* .cabecalho .texto {
    padding: 60.5px 1px;
    margin-left: 15px;
    
}

.texto h1 {
    width: 349px;
    font-size: 36px;
    color: #2b2b2b;
    font-family: 'Merriweather', serif;
    
}

.texto p {
    font-size: 19px;
    font-family: 'Lato', sans-serif;
    width: 389px;
    height:96px;
    margin-top: 17.5px;
    color: #555555;
    margin-bottom: 15px; */
    
