@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Kumbh+Sans:wght@200&family=Lato&family=Merriweather&family=Nanum+Gothic&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
  }

body { 
    
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1.6rem;
    
}

.cabecalho {
    background-color: #d7d4ff;
   display: flex;
   align-items: center;
   justify-content: space-around;
   height: 350px;
   flex-wrap: wrap;
   
   
   
     
}
.image-header img{
   width: 350px;
}



.cabecalho .texto {
    font-family: 'Merriweather', sans-serif;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2B2B2B;
    flex: 0 1 400px;
    
}

.cabecalho p {
    font-family: 'Lato';
    color:#555555;
    line-height: 27px;
    width: 359px;
    margin-top: 18px;
    
}

.cabecalho .botao {
    width: 155px;
    height: 50px;
    border-radius: 5px;
    background-color:#6C63FF;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 45px;
    border:none;
    transition: all 0.3s;
    
     
}
.cabecalho .botao:hover{
    
    background-color: rgba(145, 109, 230, 0.486);
    
} 
/* estilo do main */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
    
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
    margin: 50px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
    
} 



.card-1, .card-2, .card-3, .card-4,
 .card-5, .card-6 {
    
   
    width: 340px;
    height: 423px;
    margin-bottom: 40px;
}
.imagem {
    width: 340px;
    height: 222px;
}
.card-1 .imagem {
    background-color: #FF6363;

}
.card-2 .imagem {
    background-color: #63ECFF;
}
.card-3 .imagem {
    background-color: #F363FF;

}
.card-4 .imagem {
    background-color:#63FF73 ;
}
.card-5 .imagem {
    background-color:#FFDD63 ;
}
.card-6 .imagem {
    background-color:#6663FF;
}

.conteudo {
    padding: 5px 30px;

}

.cards:hover {
     transform: scale(1.1);
     
 } 

.conteudo p {
    font-family: "lato";
    color: #555555;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    

    

}
.conteudo h4 {
    font-family: "Merriweather" ;
    font-weight: 700;
    font-size: 24px;
    color: #2B2B2B;
    
   
    
}

/* Rodape */
.rodape {
    background-color: rgba(145, 109, 230, 0.486);  
    display: flex;
    flex-direction: column;
    justify-content: center;
      
}



.formulario {
    display: flex;
    flex-direction: column;
    align-items: center; 
    font-size: 22px;
      
    
}

.titulo-rodape {
    font-family: "Merriweather";
    font-size: 32px;
    font-weight: 400;
    color: rgba(43, 43, 43, 1);
    margin: 85px 60px;

}

.formulario .contato,.mensagem,.botao-footer {
    margin: 15px;
    border-radius: 6px;
    border: 0;
    padding: 6px;
    background: rgba(255, 255, 255, 1);
    width: 55%;
    height: 55px;
    font-family: "lato";
    font-size: 18px;
    color: rgba(110, 114, 117, 0.74);
    outline: 0;
    

}


.formulario .mensagem {
    height: 165px;
    resize: none;
    
  
}

.formulario .botao-footer {
    background: rgba(108, 99, 255, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 80px;
    border-radius: 5px;
    transition: all 0.3s;

}

.formulario .botao-footer:hover {
    background-color: rgba(145, 109, 230, 0.486);
    font-size: 25px;

}






